<?xml version="1.0" encoding="UTF-8"?>
	<!--
		Licensed to the Apache Software Foundation (ASF) under one or more
		contributor license agreements. See the NOTICE file distributed with
		this work for additional information regarding copyright ownership.
		The ASF licenses this file to You under the Apache License, Version
		2.0 (the "License"); you may not use this file except in compliance
		with the License. You may obtain a copy of the License at

		http://www.apache.org/licenses/LICENSE-2.0 Unless required by
		applicable law or agreed to in writing, software distributed under the
		License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
		CONDITIONS OF ANY KIND, either express or implied. See the License for
		the specific language governing permissions and limitations under the
		License.
	-->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Welcome to Buxland Server</display-name>
	<description>
	Welcome to Buxland Server
	</description>
	
    <welcome-file-list>
        <welcome-file>index</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
	<resource-ref>
		<description>Datasource</description>
		<res-ref-name>jdbc/buxland</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<servlet>
		<servlet-name>Adv Servlet</servlet-name>
		<servlet-class>net.buxland.servlet.AdvServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Adv Servlet</servlet-name>
		<url-pattern>/adv</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Img Servlet</servlet-name>
		<servlet-class>net.buxland.servlet.ImgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Img Servlet</servlet-name>
		<url-pattern>/img</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Index Servlet</servlet-name>
		<servlet-class>net.buxland.servlet.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Index Servlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>List Servlet</servlet-name>
		<servlet-class>net.buxland.servlet.ListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>List Servlet</servlet-name>
		<url-pattern>/list</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Search Servlet</servlet-name>
		<servlet-class>net.buxland.servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Search Servlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login Servlet</servlet-name>
		<servlet-class>net.buxland.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login Servlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Register Servlet</servlet-name>
		<servlet-class>net.buxland.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register Servlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Help Servlet</servlet-name>
		<servlet-class>net.buxland.servlet.HelpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Help Servlet</servlet-name>
		<url-pattern>/help</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Detail Servlet</servlet-name>
		<servlet-class>net.buxland.servlet.DetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Detail Servlet</servlet-name>
		<url-pattern>/detail</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Error Servlet</servlet-name>
		<servlet-class>net.buxland.servlet.ErrorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Error Servlet</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>
	
	<!--x-->
</web-app>
