<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ws.hoyland.xplayer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="ws.hoyland.xplayer.Perspective"
            id="ws.hoyland.xplayer.perspective">
      </perspective>
      <perspective
            class="ws.hoyland.xplayer.ScreenPerspective"
            id="ws.hoyland.xplayer.screenperspective"
            name="Screen Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Material List"
            class="ws.hoyland.xplayer.View"
            id="ws.hoyland.xplayer.view">
      </view>
      <view
            class="ws.hoyland.xplayer.ControlView"
            id="ws.hoyland.xplayer.controlview"
            name="Control Pannel"
            restorable="true">
      </view>
      <view
            class="ws.hoyland.xplayer.ScreenView"
            id="ws.hoyland.xplayer.screenview"
            name="Screen View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ws.hoyland.xplayer.perspective">
         <view
               closeable="false"
               id="ws.hoyland.xplayer.controlview"
               minimized="false"
               moveable="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="ws.hoyland.xplayer.view"
               minimized="false"
               moveable="false"
               ratio="0.75"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="false"
               ratio="0.25"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="ws.hoyland.xplayer.screenperspective">
         <view
               closeable="false"
               id="ws.hoyland.xplayer.screenview"
               minimized="false"
               moveable="false"
               ratio="1.0"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
         <menu
               label="Option">
            <command
                  commandId="ws.hoyland.xplayer.commands.showscreen"
                  label="Show Screen">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ws.hoyland.xplayer.application"
            name="XPlayer">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ws.hoyland.xplayer.commands.category"
            name="Category">
      </category>
      <command
            categoryId="ws.hoyland.xplayer.commands.category"
            id="ws.hoyland.xplayer.commands.showscreen"
            name="Show Screen">
      </command>
      <command
            categoryId="ws.hoyland.xplayer.commands.category"
            id="ws.hoyland.xplayer.commands.fullscreen"
            name="Full Screen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ws.hoyland.xplayer.handlers.ScreenHandler"
            commandId="ws.hoyland.xplayer.commands.showscreen">
      </handler>
      <handler
            class="ws.hoyland.xplayer.handlers.FullScreenHandler"
            commandId="ws.hoyland.xplayer.commands.fullscreen">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ws.hoyland.xplayer.commands.showscreen"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+`">
      </key>
      <key
            commandId="ws.hoyland.xplayer.commands.fullscreen"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+CR">
      </key>
   </extension>

</plugin>
