<?xml version="1.0"?>
<configuration>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <appSettings>
    <add key="THREAD_COUNT" value="3"/>
    <add key="CPT_TYPE" value="0"/>
    <add key="OPT_TYPE" value="0"/>
    <add key="ACCOUNT" value="hoyland"/>
    <add key="PASSWORD" value="1234"/>
    <add key="REM_PASSWORD" value="True"/>
    <add key="AUTO_LOGIN" value="False"/>
    <add key="FIX_PWD" value="True"/>
    <add key="RND_PWD" value="False"/>
    <add key="FIX_PWD_VALUE" value="qwer1234"/>
    <add key="RND_PWD_LEN" value="6"/>
    <add key="RND_PWD_F1" value="True"/>
    <add key="RND_PWD_F2" value="True"/>
    <add key="RND_PWD_F3" value="True"/>

    <add key="STOP_FLAG" value="True"/>
    <add key="STOP_FLAG_F1" value="1"/>
    <add key="STOP_FLAG_F2" value="1"/>

    <add key="REC_FLAG" value="False"/>
    <add key="REC_FLAG_F1" value="1"/>
    <add key="REC_FLAG_F2" value="1"/>
    <add key="REC_FLAG_F3" value="True"/>
    <add key="REC_FLAG_F4" value="True"/>

    <add key="REC_FLAG_F5" value="宽带连接"/>
    <add key="REC_FLAG_F6" value="jy2888888@163.gd"/>
    <add key="REC_FLAG_F7" value="12345678"/>

    <add key="DNA_Q1" value="0" />
    <add key="DNA_Q2" value="3" />
    <add key="DNA_Q3" value="10" />
    <add key="DNA_A1" value="zhang" />
    <add key="DNA_A2" value="huang" />
    <add key="DNA_A3" value="cai" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
