<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <appSettings>
    <add key="THREAD_COUNT" value="3"/>
    <add key="CPT_TYPE" value="0"/>
    <add key="ACCOUNT" value="hoyland"/>
    <add key="PASSWORD" value="Hoy133"/>
    <add key="REM_PASSWORD" value="True"/>
    <add key="AUTO_LOGIN" value="True"/>
    <add key="FIX_PWD" value="True"/>
    <add key="RND_PWD" value="False"/>
    <add key="FIX_PWD_VALUE" value="1234"/>
    <add key="RND_PWD_LEN" value="6"/>
    <add key="RND_PWD_F1" value="True"/>
    <add key="RND_PWD_F2" value="True"/>
    <add key="RND_PWD_F3" value="True"/>
  </appSettings>
</configuration>