<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ws.hoyland.xplayer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="ws.hoyland.xplayer.Perspective"
            id="ws.hoyland.xplayer.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Material List"
            class="ws.hoyland.xplayer.View"
            id="ws.hoyland.xplayer.view">
      </view>
      <view
            class="ws.hoyland.xplayer.ControlView"
            id="ws.hoyland.xplayer.controlview"
            name="Control Pannel"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ws.hoyland.xplayer.perspective">
         <view
               closeable="false"
               id="ws.hoyland.xplayer.controlview"
               minimized="false"
               moveable="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="ws.hoyland.xplayer.view"
               minimized="false"
               moveable="false"
               ratio="0.75"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="false"
               ratio="0.25"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File"
               mnemonic="F">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  mnemonic="x">
            </command>
         </menu>
         <menu
               label="Help"
               mnemonic="H">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About"
                  mnemonic="A">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ws.hoyland.xplayer.application"
            name="XPlayer">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ws.hoyland.xplayer.commands.category"
            name="Category">
      </category>
      <command
            categoryId="ws.hoyland.xplayer.commands.category"
            id="ws.hoyland.xplayer.commands.showscreen"
            name="Show Screen">
      </command>
      <command
            categoryId="ws.hoyland.xplayer.commands.category"
            id="ws.hoyland.xplayer.commands.option"
            name="Option">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ws.hoyland.xplayer.xpactions"
            label="XPActions"
            visible="true">
         <action
               class="ws.hoyland.xplayer.actions.RemoveSubjectsAction"
               icon="icons/remove.png"
               id="ws.hoyland.xplayer.actions.removesubjects"
               label="Remove Subjects"
               toolbarPath="Normal/g">
         </action>
         <action
               class="ws.hoyland.xplayer.actions.AddSubjectsAction"
               icon="icons/add.png"
               id="ws.hoyland.xplayer.actions.addsubjects"
               label="Add Subjects"
               toolbarPath="Normal/g">
         </action>
         <action
               class="ws.hoyland.xplayer.actions.SaveFileAction"
               icon="icons/save.png"
               id="ws.hoyland.xplayer.actions.saefile"
               label="Save to a List File"
               toolbarPath="Normal/g">
         </action>
         <action
               class="ws.hoyland.xplayer.actions.OpenFileAction"
               icon="icons/openfile.gif"
               id="ws.hoyland.xplayer.actions.openfile"
               label="Open a List File"
               toolbarPath="Normal/g">
         </action>
      </actionSet>
   </extension>

</plugin>
