<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SP" value="false" />
    <add key="PATH" value="" />
    <add key="LICENSE" value="" />
    <add key="SX" value="" />
    <add key="SY" value="" />
    <add key="SW" value="" />
    <add key="SH" value="" />
  </appSettings>
</configuration>
