<?xml version="1.0"?>
<configuration>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <appSettings>
    <add key="CPT_TYPE" value="0"/>
    <add key="ACCOUNT" value="hoyland"/>
    <add key="PASSWORD" value="1234"/>
    <add key="REM_PASSWORD" value="True"/>
    <add key="AUTO_LOGIN" value="False"/>
    
    <add key="EMAIL_TIMES" value="2"/>
    <add key="MAIL_ITV" value="3"/>
    <add key="P1" value="0"/>
    <add key="C1" value="0"/>
    <add key="P2" value="0"/>
    <add key="C2" value="0"/>
    <add key="P3" value="0"/>
    <add key="C3" value="0"/>
    
    <add key="THREAD_COUNT" value="3"/>
    <add key="TOOL_COUNT" value="3"/>
    
    <add key="REC_FLAG" value="False"/>
    <add key="REC_FLAG_F1" value="1"/>
    <add key="REC_FLAG_F2" value="1"/>
    <add key="REC_FLAG_F3" value="True"/>
    <add key="REC_FLAG_F4" value="True"/>

    <add key="REC_FLAG_F5" value="True"/>
    <add key="REC_FLAG_F6" value="1"/>
    <add key="REC_FLAG_F7" value="True"/>
    <add key="REC_FLAG_F8" value="123"/>
    <add key="REC_FLAG_F9" value="123"/>
    <add key="REC_FLAG_F10" value="123"/>

    <add key="REC_FLAG_F11" value="宽带连接"/>
    <add key="REC_FLAG_F12" value="jy2888888@163.gd"/>
    <add key="REC_FLAG_F13" value="12345678"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
</configuration>
