<?xml version="1.0"?>
<configuration>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true" />
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <add key="TEXT" value="X-Validator" />
    <add key="URL" value="http://www.hoyland.ws/x-validator" />
    <add key="CORENAME" value="x-validator" />
    <add key="NAMESPACE" value="Ws.Hoyland.XValidator" />
  </appSettings>
</configuration>
