<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.3"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ws.hoyland.popularizer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Popularizer Perspective"
            class="ws.hoyland.popularizer.Perspective"
            id="ws.hoyland.popularizer.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      
      <view
            name="首　　页"
            allowMultiple="false"
            icon="icons/home.png"
            class="ws.hoyland.popularizer.HomeView"
            id="ws.hoyland.popularizer.homeview">
      </view>
      
      
       <view
            name="当前任务"
            allowMultiple="false"
            icon="icons/process.png"
            class="ws.hoyland.popularizer.ProcessView"
            id="ws.hoyland.popularizer.processview">
      </view>
      
      <view
            name="新建任务"
            allowMultiple="false"
            icon="icons/post.png"
            class="ws.hoyland.popularizer.PostView"
            id="ws.hoyland.popularizer.postview">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="ws.hoyland.popularizer.category">
      </category>
      
	<command
		name="%Update.command"
        id="ws.hoyland.popularizer.command.update">
	</command>
		
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <!--key
            commandId="ws.hoyland.popularizer.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O">
      </key>
      <key
            commandId="ws.hoyland.popularizer.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+M">
      </key-->
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ws.hoyland.popularizer.application"
            name="互联网营销专家">
         <property
               name="aboutText"
               value="http://www.hoyland.ws">
         </property>
         <property
               name="windowImages"
               value="icons/logo.png">
         </property>
         <property
               name="aboutImage"
               value="icons/about.png">
         </property>
         <property
               name="appName"
               value="互联网营销专家">
         </property>
         <property
               name="startupProgressRect"
               value="0,297,498,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

   	<!--extension 
   		id="preferences" point="org.eclipse.core.runtime.preferences" name="%preferences">
		<initializer class="ws.hoyland.popularizer.p2.PreferenceInitializer"/>
	</extension-->
	
	<!--extension
		point="org.eclipse.ui.installationPages">
		<page
			name="%installedSoftwarePage"
            class="org.eclipse.equinox.p2.ui.InstalledSoftwarePage"
            id="10.ws.hoyland.popularizer.InstalledSoftwarePage">
		</page>
		<page
            name="%installHistoryPage"
            class="org.eclipse.equinox.p2.ui.RevertProfilePage"
            id="11.ws.hoyland.popularizer.RevertProfilePage">
		</page>          
	</extension-->
      
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			commandId="ws.hoyland.popularizer.command.update"
            class="ws.hoyland.popularizer.p2.UpdateHandler">
		</handler>
	</extension>
   
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="menu:help?after=additions">
			<command
				commandId="ws.hoyland.popularizer.command.update"
				mnemonic="%Update.command.mnemonic"
				id="ws.hoyland.popularizer.menu.update">
			</command>
		</menuContribution>
	</extension>
</plugin>
