<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ws.hoyland.popularizer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="ws.hoyland.popularizer.Perspective"
            id="ws.hoyland.popularizer.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Message"
            allowMultiple="true"
            icon="icons/sample2.gif"
            class="ws.hoyland.popularizer.View"
            id="ws.hoyland.popularizer.view">
      </view>
      <view
            name="Mailboxes"
            allowMultiple="true"
            icon="icons/sample3.gif"
            class="ws.hoyland.popularizer.NavigationView"
            id="ws.hoyland.popularizer.navigationView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="ws.hoyland.popularizer.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="ws.hoyland.popularizer.category"
            id="ws.hoyland.popularizer.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Open a message dialog"
            categoryId="ws.hoyland.popularizer.category"
            id="ws.hoyland.popularizer.openMessage">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ws.hoyland.popularizer.open"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+O">
      </key>
      <key
            commandId="ws.hoyland.popularizer.openMessage"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+M">
      </key>
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+Q">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="ws.hoyland.popularizer.application"
            name="Porpularizer">
         <property
               name="aboutText"
               value="Hoyland&apos;s Popularizer">
         </property>
         <property
               name="windowImages"
               value="icons/sample2.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="Porpularizer">
         </property>
         <property
               name="startupProgressRect"
               value="5,295,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

   	<!--extension 
   		id="preferences" point="org.eclipse.core.runtime.preferences" name="%preferences">
		<initializer class="ws.hoyland.popularizer.p2.PreferenceInitializer"/>
	</extension-->
	
	<!--extension
		point="org.eclipse.ui.installationPages">
		<page
			name="%installedSoftwarePage"
            class="org.eclipse.equinox.p2.ui.InstalledSoftwarePage"
            id="10.ws.hoyland.popularizer.InstalledSoftwarePage">
		</page>
		<page
            name="%installHistoryPage"
            class="org.eclipse.equinox.p2.ui.RevertProfilePage"
            id="11.ws.hoyland.popularizer.RevertProfilePage">
		</page>          
	</extension-->
      
	<extension
			point="org.eclipse.ui.commands">
		<command
			name="%Update.command"
            id="ws.hoyland.popularizer.command.update">
		</command>
	</extension>
   
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			commandId="ws.hoyland.popularizer.command.update"
            class="ws.hoyland.popularizer.p2.UpdateHandler">
		</handler>
	</extension>
   
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="menu:help?after=additions">
			<command
				commandId="ws.hoyland.popularizer.command.update"
				mnemonic="%Update.command.mnemonic"
				id="ws.hoyland.popularizer.menu.update">
			</command>
		</menuContribution>
	</extension>
</plugin>
